<% if current_user != nil %>


	<h2>Replying to a comment</h2>
	<div class = "orig_comment">
		<%= @comment.body %><br/>
		<p>
			-<%= User.find(@comment.user_id).fullname %> 
		</p>
	</div>

	<%=form_for [@entry, @comment.comments.new] do |f| %>
	    <p>
	      <%= f.label :body %><br />
	      <%= f.text_area :body, rows: 8 %>
	      <%= f.hidden_field :commentable_id %>
	      <%= f.hidden_field :commentable_type %>
	      <%= f.hidden_field :entry_id, :value => @entry.id %>
	      <%= f.hidden_field :user_id, :value => current_user.id %>
	    </p>
	    <p><%=f.submit "Submit" %></p>
	<% end %>

<% end %>