

<h1>
  <%= @entry.title %>
</h1>

<p>
<%= image_tag @entry.image.url%>
</p>

<p>
  <%= @entry.description %>
</p>


<p>
  <b> Comments </b><br />
  <% Comment.all do |comment| %>
  	<% if comment.commentable_type == "Entry" && comment.commentable_id == @entry.id %>
      <%= comment.body %>
    <% end %>
  <% end %>
</p>

<p>
  <b>New Comment</b>
</p>

<%=form_for [@commentable, Comment.new] do |f| %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, rows: 8 %>
  </p>
  <p><%=f.submit "Submit" %></p>
<% end %>

