

<h1>
  <%= @entry.title %>
</h1>

<p>
<%= image_tag @entry.image.url%>
</p>

<p>
  <%= @entry.description %>
</p>


<p>
  <% i = 0 %>
  <% @entry.comments.each do |c| %>
    <% i += c.comments.count %>
  <% end %>
  <b><%= @entry.comments.count + i%> Comments</b><br/>
  <% @comments.each do |comment| %>
    <div class ="entry_comments" >
      <%= comment.body %><br/>
      <p>-<%= User.find(comment.user_id).fullname %></p>
      <% if current_user != nil %>
        <p><%= link_to "Reply", entry_comment_path(@entry.id, comment.id) %></p>
      <% end %>
      <% comment.comments.each do |reply| %>
        <div class = "replies">
          <lu><%= reply.body %></lu><br/>
          <p> -<%= User.find(reply.user_id).fullname %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</p>

<%= paginate @pages %>

<p>
  <b>New Comment</b>
</p>

<% if current_user != nil %>
  <%=form_for [@entry, @entry.comments.new] do |f| %>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body, rows: 8 %>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <%= f.hidden_field :entry_id, :value => @entry.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </p>
    <p><%=f.submit "Submit" %></p>
  <% end %>
<% else %>

  <h2>Please sign in or create an account to post comments or replies</h2>

<%end%>
