<% if notice %>
  <p id = "notice"><%= notice %></p>
<% end %>

<h1>Welcome!</h1>
<h2>Blog Posts</h2>

<% i = 0 %>
<% @entries.each do |entry| %>
  <div class = "recent_entries">  	
    <h3><%=link_to entry.title, entry_path(entry.id)%></h3>
    <%= image_tag entry.image.url(:thumb) %>    
    <p><%= truncate(strip_tags(entry.description), length: 30) %></p> 
    <% entry.comments.each do |c| %>
      <% i = i + c.comments.count %>
    <% end %>
    <li><%= entry.comments.count + i %> Comments in this post</li> 
    <% i = 0 %>   
  </div>

<% end %>
<%= paginate @entries %>

<h2>5 Most Recent Comments</h2>

<p>

<% @recent_comments.each do |i| %>
	<div class = "recent_comments">
		<%= i.body %>
		<p>-<%= User.find(i.user_id).fullname %></p>
	</div>
<% end %>
</p>

<h4>Total Comments across all Blog Posts: <%= @comments.count %></h4>