<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class ="<%= controller.controller_name %>">

	<div id = "banner">
		<%= image_tag("rails.png")%>
		<%= "Sam's Blog" %>
	</div>
	<div id = "columns">
		<div id = "side" >
			<ul>
				<li><%= link_to "Home", homes_path %></li>
				<li><%= link_to "Sign In", new_user_session_path %></li>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			</ul>
		</div>
		<div id = "main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
